{% extends 'base.html.twig' %}

{% block content %}



<section class="mt-5">
    <div class="">


      <div class="row">
        <div class="col-6 bg-white">
          <div class="p-3 m-0 pl-5 w-100 bg-color text-white">
            <h3> Profile  </h3>
          </div>
          <div class="image w-100 text-center p-3">
            <img src="/img/pt.png" width="100" alt="">
          </div>
          <div class="p-3 w-100 bg-white">
            <table  class="table table-striped table-hover">
                <tbody>
                  <tr>
                    <td> <label class="control-label">ID</label> </td>
                    <td> {{ "PT19" ~  patient.id  }} </td>
                  </tr>
                  <tr>
                    <td> <label class="control-label">Nom</label> </td>
                    <td> {{  patient.nom  }} </td>
                  </tr>
                  <tr>
                    <td> <label class="control-label">Prenom</label> </td>
                    <td> {{  patient.prenom  }} </td>
                  </tr>
                  <tr>
                    <td> <label class="control-label">Email</label> </td>
                    <td> {{  patient.email  }} </td>
                  </tr>
                  <tr>
                    <td> <label class="control-label">Addresse</label> </td>
                    <td> {{  patient.adress  }} </td>
                  </tr>
                  <tr>
                    <td> <label class="control-label">Numero Tél</label> </td>
                    <td> {{  patient.Numerotel  }} </td>
                  </tr>
                  <tr>
                    <td> <label class="control-label">Date enregistrement</label> </td>
                    <td> {{  patient.addDate  }} </td>
                  </tr>
                  <tr>
                    <td> <label class="control-label">Ajouter par</label> </td>
                    <td> <a href="#">{{  patient.addBy  }}</a> </td>
                  </tr>
                </tbody>
              </table>
              <a href="#" class="btn btn-sm btn-block btn-info bg-color mb-4">Suprimer</a>
              <div class="w-100 text-center">
                <a href="/export/data/{{patient.id}}" class="btn btn-sm btn-link mb-4"> <i class="fas fa-save"></i> Exporter les données de {{  patient.nom  }} {{  patient.prenom  }} </a>
              </div>

          </div>

          <h4 class="text-color">
             Autres informations:
          </h4>

          <hr>

          {% if patient.getBiotehrapies()|length > 0 %}

          <table class="table mb-3 table-hover">
            <thead class="bg-color">
                <th>Biotehrapie</th>
                <td>Date de debut</td>
                <td>Date d'arret</td>
                <td>Motif</td>
            </thead>
            {% for item in patient.getBiotehrapies() %}
            <tr>
              <td>
                {{item.getBiotherapie }}
              </td>
              <td>
                {{item.getDateDebut | date()}}
              </td>
              <td>
                {{item.getDatearret }}
              </td>
              <td>
                {{item.getMotifArret }}
              </td>
              <tr>
            {% endfor %}
          </table>
          {% endif %}

          {% if patient.getDmards()|length > 0 %}
          <table class="table mb-3 table-hover">
            <thead class="bg-color">
                <th>DMARDS</th>
                <td>Date de debut</td>
                <td>Date d'arret</td>
                <td>Motif</td>
            </thead>
            <tbody>
              {% for item in patient.getDmards() %}
              <tr>
                <td>
                  {{item.getDmards }}
                </td>
                <td>
                  {{item.getDateDebut }}
                </td>
                <td>
                  {{item.getDatedarret }}
                </td>
                <td>
                  {{item.getMotifdarret }}
                </td>
                <tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}


          {% if patient.getAins()|length > 0 %}
          <table class="table mb-3 table-hover">
            <thead class="bg-color">
                <th>Antalgiques et AINS</th>
                <td>Dose</td>
                <td>Fréquence</td>
                <td>Date début</td>
                <td>Date d'arret</td>
            </thead>
            <tbody>
              {% for item in patient.getAins() %}
                <tr>
                  <td>
                    {{item.ains }}
                  </td>
                  <td>
                    {{item.dose }}
                  </td>
                  <td>
                    {{item.freq }}
                  </td>
                  <td>
                    {{item.Datedebut }}
                  </td>
                  <td>
                    {{item.Datedarret }}
                  </td>
                <tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}


<!-- WORKIN -->
          {% if patient.getEffets()|length > 0 %}
          <table class="table mb-3 table-hover">
            <thead class="bg-color">
                <th>Apparition d'effet indésirables au cours de la biothérapie</th>
                <td>Infection</td>
                <td>Date début</td>
                <td>TTT</td>
                <td>Date de guerison</td>
            </thead>
            <tbody>
              {% for item in patient.getEffets() %}
                <tr>
                  <td>
                    {{item.Id }}
                  </td>
                  <td>
                    {{item.Infection }}
                  </td>
                  <td>
                    {{item.Datedudc }}
                  </td>
                  <td>
                    {{item.Ttt }}
                  </td>
                  <td>
                    {{item.Datedeguerison }}
                  </td>
                <tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}



          <hr>

          <div class="row   ">
            <div class="bg-hover col-3 pt-3 pb-3 text-center bg-color">
              <a class="text-white" href="/patient/{{patient.id}}/add/biotherapie">Ajouter Biotehrapie</a>
            </div>
            <div class="bg-hover col-3 pt-3 pb-3 text-center bg-color">
              <a class="text-white" href="/patient/{{patient.id}}/add/dmards">Ajouter DMARDS</a>
            </div>
            <div class="bg-hover col-3 pt-3 pb-3 text-center bg-color">
              <a class="text-white" href="/patient/{{patient.id}}/add/ains">Ajouter AINS</a>
            </div>
            <div class="bg-hover col-3 pt-3 pb-3 text-center bg-color">
              <a class="text-white" href="/patient/{{patient.id}}/add/effet">Ajouter Effet</a>
            </div>
          </div>

        </div>


        <div class="col-6">
            <div class="p-3  text-center w-100 bg-info text-white">
              <h3> Questionaires: </h3>
            </div>
            <div class="p-3 w-100 bg-white">
              <table  class="table nounderline table-hover">
                  <tbody>
                    {% for survey in surv_done %}
                      <tr>
                        <td class="text-left">
                          <a href="#">{{survey.title}}</a>
                         </td>
                        <td class="text-center pl-4">
                          ✓
                        </td>
                        <td class="text-right pl-4">
                          <form class="" action="/answers/delete" method="post">
                            <input type="text" hidden name="SRV" value={{survey.id}}>
                            <input type="text" hidden name="PAT" value= {{patient.id}}>
                            <Button type="submit" class="btn btn-info bg-color btn-sm"> <small>Supprimer</small> </Button>
                          </form>
                        </td>
                      </tr>
                    {% endfor %}
                    {% for survey in surv_not_done %}
                      <tr>
                        <td class="text-left">
                          <a href="/survey/{{survey.id}}/patient/{{patient.id}}">{{survey.title}}</a>
                         </td>
                        <td class="text-center pl-4">
                          <small>Disponible</small>
                        </td>
                        <td class="text-right pl-4">
                          <a href="/survey/{{survey.id}}/patient/{{patient.id}}" class=""> <small>Remplir</small> </a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
              </table>


              <br>
              {% for survey in surv_done %}
                {% if survey.id == 8 %}
                  <div class="p-3">
                    <strong>Calcul Couts Directs: </strong> <br>
                    <table class="table table-hover">
                      <tr>
                        <td> <b>Total des coûts du dernier semestre</b> </td>
                      </tr>
                      <tr>
                        <th>Consultation</th>
                        <td>{{cnslt}} DHs</td>
                      </tr>
                      <tr>
                        <th>Hospitalisation</th>
                        <td> {{hsp}} DHs </td>
                      </tr>
                      <tr>
                        <th>Bilan Radiologique</th>
                        <td> {{radio}} DHs </td>
                      </tr>
                      <tr>
                        <th>Bilan Biologique</th>
                        <td> {{bio}} DHs </td>
                      </tr>
                    </table>
                  </div>
                {% endif %}
              {% endfor %}
            </div>


        </div>

      </div>
    </div>
</section>


{% endblock %}
