{% extends 'base.html.twig' %}

{% block content %}


  <script src="/js/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>


<section class="mt-5">
    <div class="">


      <div class="p-3 m-0 pl-5 w-100 bg-color text-white">
        <a href="/patient/add" class="btn-lg float-right nounderline btn-danger"><strong>+</strong> </a>
        <h4> Liste des patients </h4>
        <span> La liste des patients enregister dans le système:</span>
      </div>
        <div class="p-3 bg-white">

          <div class="card p-3 bg-color">
            <label for="">Recherche par nom</label>
            <input class="form-control" id="myInput" type="text" placeholder="Search..">
          </div>

          <table class="table table-striped"  id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0">
            <thead>
              <tr>
                <th> <small>  Numéro Entrée </small> </th>
                <th> <small>  Nom </small> </th>
                <th> <small>  Prénom </small> </th>
                <th colspan="3"></th>
              </tr>
            </thead>
            <tbody id="myTable">
              {% for item in Patients_list %}
                <tr>
                  <td>{{item.NumEntree}}</td>
                  <td>{{item.Nom}} </td>
                  <td>{{item.Prenom}}</td>
                  <td>
                    <form class="" action="/patient/display" method="post">
                      <input type="text" name="pat_id" value={{item.id}} hidden>
                      <button href="#" type="submit" class="btn btn-sm btn-link nounderline"> <small>Consulter </small> </button> </td>
                    </form>
                  </td>
                  <td>
                    <form class="" action="/patient/delete" method="post">
                      <input type="text" name="pat_id" value={{item.id}} hidden>
                      <button type="submit" class="btn btn-sm btn-link nounderline text-danger"> <small>Supprimer </small> </button> </td>
                    </form>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
</section>


<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#myTable tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

{% endblock %}
