{% extends 'base.html.twig' %}

{% block content %}




<section class="mt-5">
    <div class="">

        <div class="p-3 m-0 pl-5 w-100 bg-color bg-color text-white">
          <h3> Questionaires  </h3>
        </div>
        <div class="p-3 m-0 pl-5 w-100 bg-white">
          <div class="p-3">
            <table class="table table- table-hover">
              <tbody>
                <thead>
                  <th>ID</th>
                  <th>Ajouter par</th>
                  <th>Titre</th>
                  <th>Description</th>
                  <th>Nb. Questions</th>
                  <th>Nb. Réponses</th>
                  <th>Date de création</th>
                  <th colspan="3"></th>
                </thead>
                {% for item in survey %}
                  <tr>
                    <td>{{item.Id}}</td>
                    <td>{{item.CreatedBy}}</td>
                    <td><small>{{item.Title}}</small> </td>
                    <td> <small>{{item.Description}}</small> </td>
                    <td>{{item.Questions | length}}</td>
                    <td>{{item.QuestionAnswers | length}}</td>
                    <td>{{item.CreationDate | date}}</td>
                    <td>
                        <a href="/survey/edit/{{item.Id}}" class="btn btn-link nounderline text-color btn-sm "><small>Modifier</small> </a>
                    </td>
                    <td>
                      <form class="" action="/survey/delete" method="post">
                        <input type="hidden"  name="SRV" value={{item.Id}}>
                        <button type="submit" class="btn btn-link nounderline text-danger btn-sm "><small>Suprimer</small> </button>
                      </form>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
</section>



<script src="/js/jquery.js" charset="utf-8"></script>


<script type="text/javascript">

  $(document).ready(function(){

      var counter = 2;

      $("#addButton").click(function () {

  	if(counter>20){
              alert("Only 10 textboxes allow");
              return false;
  	}

  	var newTextBoxDiv = $(document.createElement('div'))
  	     .attr("id", 'TextBoxDiv' + counter)
  	     .attr("class", 'mb-2');

  	newTextBoxDiv.appendTo("#TextBoxesGroup");


  	counter++;
       });

       $("#RemoveButton").click(function () {
    	if(counter==2){
              alert("No more textbox to remove");
              return false;
           }

    	counter--;
            $("#TextBoxDiv" + counter).remove();

         });

         $("#getButtonValue").click(function () {

    	var msg = '';
    	for(i=1; i<counter; i++){
       	  msg += "\n Textbox #" + i + " : " + $('#textbox' + i).val();
    	}
        	  alert(msg);
         });
      });
  </script>


{% endblock %}
